<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="PatientsDockEntities" connectionString="metadata=res://*/Patients.csdl|res://*/Patients.ssdl|res://*/Patients.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10REMBOX24;initial catalog=PatientsDock;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="PacienteModel" connectionString="data source=10REMBOX24;initial catalog=PatientsDock;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>